body {
  background-color: #f5f5f5;
}

#main-content {
  max-width: 940px;
  padding: 0 3rem;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-sizing: border-box;
}

#messages {
  overflow-y: hidden;
}
